.feed-main-container {
  /* margin-top: 1.5%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-classify-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* margin-bottom: 3%; */
}

.feed-classify-btn {
  cursor: pointer;
  margin-top: 1%;
  width: 33%;
  padding: 2% 7%;
  /* background-color: white; */
  background-color: inherit;
  border: none;
  /* border-radius: 20px; */
  /* font-weight: 600; */
  font-size: 0.9rem;
  /* color: black; */
  color: white;
  font-family: "NeoOne";
}

.focused-feed-classify-btn {
  margin-top: 1%;
  margin-bottom: 1px;
  width: 33%;
  padding: 2% 7%;
  border: none;
  /* border-radius: 20px; */
  /* background: linear-gradient(180deg, #b9d8f7 0%, #feeb8b 100%); */
  outline: none;
  background-color: inherit;
  /* font-weight: 600; */
  border-bottom: 3px solid rgb(176, 112, 144);
  font-size: 0.9rem;
  color: white;
  font-family: "NeoOne";
}

@font-face {
  font-family: "NeonOne";
  src: url("assets/NeonOne.otf") format("woff"), url("./fonts/noto-sans-kr.ttf") format("woff2");
  /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
  font-weight: 400;
}
