.feed-main-container {
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-classify-btn-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-bottom: 3%;
}

.feed-classify-btn {
  padding: 1% 7%;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  font-family: "NeoOne";
}

.focused-feed-classify-btn {
  padding: 1% 7%;
  border: none;
  border-radius: 20px;
  background: linear-gradient(180deg, #b9d8f7 0%, #feeb8b 100%);
  outline: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  font-family: "NeoOne";
}

@font-face {
  font-family: "NeonOne";
  src: url("assets/NeonOne.otf") format("woff"), url("./fonts/noto-sans-kr.ttf") format("woff2");
  /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
  font-weight: 400;
}
