.header-container {
  width: 100%;
  padding: 8px 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #06031a;
  top: 0;
  z-index: 100;
}

.search-item {
  border: 1px solid white;
}
