.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cocktail {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #fff;
  border-radius: 50%;
}
/* // Glass effect */

.cocktail::before {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #fff;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
  width: 0;
  height: 0;
  content: "";
  border-top: 150px solid lighten(#b6daef, 6);
  border-right: 150px solid #e2e9ed;
  border-bottom: 150px solid lighten(#b6daef, 6);
  border-left: 150px solid lighten(#b6daef, 6);
  border-radius: 150px;
}

/* // Glass Bottom area */
.cocktail::after {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #fff;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 70px;
  right: 70px;
  bottom: 70px;
  left: 70px;
  content: "";
  border-radius: 50%;
  background: #5db8b6;
}

/* // The liquid */

.liquid {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  transform: translatex(-15px);
  animation: liquid 1.5s ease-in-out infinite;
  border-radius: 50%;
  background: rgba(139, 233, 193, 0.6);
}

/* // Straw */

.straw {
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: 50%;
  width: 20px;
  height: 0;
  transform: translatex(-50%);
  border-top: 300px solid #ff7647;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
/* // straw upper hole */

.straw::before {
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: 50%;
  width: 20px;
  height: 0;
  transform: translatex(-50%);
  border-top: 300px solid #ff7647;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: -310px;
  right: 0;
  left: 0;
  height: 20px;
  content: "";
  transform: scale(1.5);
  border-radius: 50%;
  background: #cd4727;
}

/* // straw bottom hole */

.straw::after {
  position: absolute;
  z-index: 1;
  bottom: 70px;
  left: 50%;
  width: 20px;
  height: 0;
  transform: translatex(-50%);
  border-top: 300px solid #ff7647;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  height: 20px;
  content: "";
  border-radius: 50%;
  background: #ff7647;
}

/* // Straw surface trick */

.straw-surface {
  position: absolute;
  z-index: 5;
  bottom: 240px;
  left: 50%;
  width: 25px;
  height: 0;
  transform: translatex(-50%);
  border-top: 100px solid #ff7647;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}
/* // Straw surface trick bottom hole */

.straw-surface::after {
  position: absolute;
  z-index: 5;
  bottom: 240px;
  left: 50%;
  width: 25px;
  height: 0;
  transform: translatex(-50%);
  border-top: 100px solid #ff7647;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  height: 20px;
  content: "";
  border-radius: 50%;
  background: #ff7647;
}

/* // Ice cubes */

.ice-cubes {
  transform-origin: 47% 65%;
  animation: ice-cubes 8s ease-in-out infinite;
}

.ice-cube {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background: #fff;
}

.ice-cube.ice-cube-1 {
  transform: translate(100px, 70px) rotate(10deg);
  background: #bcdbce;
}

.ice-cube.ice-cube-2 {
  position: relative;
  z-index: 2;
  transform: translate(160px, 100px) rotate(30deg);
}

.ice-cube.ice-cube-3 {
  transform: translate(40px, 0) rotate(-30deg);
}
/* // leaves */

.leaves {
  transform-origin: 46% -42%;
  animation: ice-cubes 12s ease-in-out infinite;
}

.leave {
  width: 100px;
  height: 70px;
  border-radius: 100px 0;
  background: #19ab87;
}
.leave::before {
  width: 100px;
  height: 70px;
  border-radius: 100px 0;
  background: #19ab87;
  position: absolute;
  width: 1px;
  height: 115px;
  content: "";
  transform: rotate(55deg) translate(10px, -53px);
  background: #3fc295;
}

.leave.leave-1 {
  transform: translate(40px, -160px) rotate(-30deg);
}

.leave.leave-2 {
  transform: translate(160px, -180px) rotate(30deg);
}

.leave.leave-3 {
  position: relative;
  z-index: 4;
  transform: translate(70px, -190px) rotate(80deg);
}

/* // Lemon slice */

.lemon-slice {
  position: absolute;
  z-index: 1;
  width: 125px;
  height: 65px;
  transform: translate(146px, -178px) rotate(45deg);
  animation: lemon 3s ease-in-out infinite;
  border: 10px solid lighten(#cff063, 20);
  border-bottom: 0;
  border-radius: 100px 100px 0 0;
  background: #cff063;
}
/* // Lemon pips */

.lemon-slice::before,
.lemon-slice::after {
  position: absolute;
  width: 30px;
  height: 20px;
  content: "";
  border-radius: 50px 0;
  background: darken(#cff063, 20);
}

.lemon-slice::after {
  top: 30px;
  left: 30px;
  transform: rotate(90deg);
}

.lemon-slice::before {
  top: 30px;
  right: 30px;
  transform: rotate(-40deg);
}

/* // Glass shadow */

.shadow {
  position: absolute;
  z-index: -10;
  top: 50%;
  width: 400px;
  height: 340px;
  transform: translatey(-50%) rotate(45deg);
  transform-origin: 20% 100%;
  background: linear-gradient(to right, rgba(#000, 0.2) -60%, rgba(#000, 0));
}

@keyframes liquid {
  from {
    transform: translatex(-15px);
  }
  50% {
    transform: translatex(15px);
  }
  to {
    transform: translatex(-15px);
  }
}

@keyframes ice-cubes {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes lemon {
  from {
    transform: translate(146px, -178px) rotate(45deg);
  }
  50% {
    transform: translate(146px, -178px) rotate(60deg);
  }
  to {
    transform: translate(146px, -178px) rotate(45deg);
  }
}
