.container {
  width: 90%;
  height: 20vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* color: gray; */
  /* margin-top: 50px;
  margin-bottom: 50px; */
  margin: 0 auto;
  background: linear-gradient(180deg, #ff9e80 0%, #fff6e3 100%);
  /* background-color: inherit; */
  text-align: center;
}
.hometender-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* white-space: nowrap; */
  box-sizing: border-box;
  justify-content: center;
}

.hometender-banner-box {
  display: flex;
  align-items: center;
}

.hometender-banner-contents {
  display: flex;
  flex-direction: column;
}

.hometender-banner-item {
  display: flex;
  align-items: center;
}
.hometender-banner-img {
  height: 100px;
  width: 100px;
  margin-right: 3%;
}

.hometender-banner-title {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
}

/* .hometender-banner-contents { */
/* display: flex; */
/* } */

.hometender-banner-mini-title {
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
}

.hometender-banner-materials {
  display: flex;
  color: white;
  font-size: 0.9rem;
  /* color: black; */
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.hometender-banner-material {
  background-color: #ff9e80;
  margin: 1%;
  padding: 1% 5%;
  border: 1px solid #ff9e80;
  border-radius: 30px;
}
