/* .MyCalendar { */
/* display: flex; */
/* justify-content: center; */
/* margin-top: 10%; */
/* } */

.calender-container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

/* 캘린더 wrap (배경) */
.react-calendar {
  width: 90%;
  padding: 15px;
  background-color: rgba(219, 219, 219, 0.2);
  border-radius: 30px;
  border: 2px solid #636780;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-shadow: 3px 3px 5px gainsboro;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 각 일자 디자인 */
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 1rem;
  line-height: 1.1rem;
  background-color: rgba(219, 219, 219, 0);
  color: white;
  /* border: 1px solid #000; */
}

/* 오늘날짜 */
.react-calendar__tile--now {
  /* background: #ff947a;
  border: 1px; */
  background-color: rgb(176, 112, 144);
  font-weight: bolder;
  /* color: #4094bf; */
  border-radius: 9999px;
  border: 1px solid #000;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

/* 캘린더 네비 */
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  color: white;
  min-width: 44px;
  background: none;
  font-size: 17px;
  margin-top: 8px;
  font-weight: bold;
}

/* 캘린더 네비 화살표 */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  /* background-color: #ffffff; */
  /* border: 1px solid #000; */
}

/* 월 화 수 목 금 토 일 */
.react-calendar__month-view__weekdays {
  text-align: center;
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  font-size: 0.8rem;
  margin-bottom: 2%;
}

/* 요일 밑의 밑줄 지우기 */
abbr[title] {
  text-decoration: none;
}

/* 머임 */
.react-calendar__tile {
  max-width: 100%;
  height: 8vh;
  padding: 10px 6.6667px;
  border-radius: 9999px;
  text-align: center;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* 일자 호버 */
/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: black;
  font-weight: bolder;
  transform: scale(1);
  background-color: #b1d9ff;
  color: white;
} */

/* .react-calendar__tile--active {
      border: 1px;
      font-weight: bolder;
      border-radius: 9999px;
      background-color: #6f48eb33;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      border: 1px;
      border-color: #6f48eb33;
    } */
/* .highlight {
      image-rendering: crisp-edges;
      backface-visibility: hidden;
      transform: translateZ(0);
    
      background-image: url("../../../public/images/calendarIcon/evaluate.png");
      max-width: 100%;
      max-height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      background-position: center;
      color: transparent;
    }
    .shield {
      image-rendering: crisp-edges;
      backface-visibility: hidden;
      transform: translateZ(0);
    
      background-image: url("../../../public/images/calendarIcon/shield.png");
      max-width: 100%;
      max-height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      background-position: center;
      color: transparent;
    } */

/* 일요일 빨간색, 토요일 파란색 */
.highlight-sunday {
  color: red;
}
.highlight-saturday {
  color: blue;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

/* .react-calendar__month-view__days__day--weekend {
      color: #d10000;
    } */

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile:disabled {
  background-color: rgba(219, 219, 219, 0);
  color : gray
}

/* 날짜 클릭했을 때 배경색 */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgb(176, 112, 144);
  color: white;
}

/* .react-calendar__tile:enabled:hover,
    .react-calendar__tile:enabled:focus {
      background-color: #b1d9ff;
      color: white;
    } */

/* 오늘 날짜 호버 */
/* .react-calendar__tile--now:enabled:hover,
    .react-calendar__tile--now:enabled:focus {
      background-color: #ffb1b1;
    } */

/* .react-calendar__tile--hasActive {
      background-color: #76ff7d;
    } */
/* .react-calendar__tile--hasActive:enabled:hover,
    .react-calendar__tile--hasActive:enabled:focus {
      background-color: #119c2f;
    } */

.react-calendar__tile--active {
  background: rgb(176, 112, 144);
  color: white;
  border: 1px;
  font-weight: 800;
  border-radius: 9999px;
  background-color: rgb(176, 112, 144);
}

.right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid #da2222; */
  width: 60%;
  height: 500px;
  /* text-align: center; */
}

.select-date-wrap {
  /* border: 1px solid #000; */
  width: 100%;
  /* border: 1px solid #000; */
  /* border-radius: 20px; */
  text-align: center;
  margin-top: 10px;
  /* background-color: rgb(223, 242, 255); */
  /* box-shadow: 3px 3px 3px 3px rgb(209, 209, 209); */
  padding: 1%;
  height: auto;
}

.select-date {
  font-weight: 600;
  font-size: 1.5rem;
  white-space: nowrap;
  background-color: rgb(176, 112, 144);
  color: white;
}

.select-todolist {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* line-height: 250%; */
  /* border: 1px solid #000; */
  /* border: 4px solid #8edbff; */
  /* border-radius: 10px; */
  /* background-color: rgb(255, 255, 255); */
  /* overflow: hidden; */
  /* overflow: scroll; */
  overflow-y: scroll;
}

.select-todolist::-webkit-scrollbar {
  display: none;
}


.nowork-text {
  color: white;
  /* border: 1px solid #000; */
  font-size: 1.2rem;
  margin-top: 20%;
}

.card-header-icon {
  /* border: 1px solid #000; */
  /* padding: 1%; */
  font-size: 1.3rem;
  margin-left: 10px;
  transition: 0.2s;
}
.card-header-icon:hover {
  cursor: pointer;
  transform: scale(110%);
}
