.flexwrap-container {
  width: 100% ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
}

.ingredient{
  font-size: 0.8rem;
  padding: 8px;
  background-color: rgb(75, 75, 75);
  border-radius: 15px;
}

.relative {
  position: relative;
  margin-right: 1vw;
}

.delete {
  position: absolute;
  z-index: 100;
  top: -5px;
  right: -5px;
}