.container {
  text-align: center;
  padding-top: 5%;
}

.container h3 {
  margin-bottom: 3%;
}

.container a {
  display: inline-block;
  font-size: smaller;
  margin-bottom: 10%;
}

.drink-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
