.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
  /* padding-bottom: 100px; */
}

.banner-box {
  /* border: 1px solid #ffffff; */
  width: 80%;
  height: 20vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #1c1a2c;
}

.text-wrap {
  text-align: center;
  margin-bottom: 20px;
}

.text-wrap p {
  font-size: small;
  margin-top: 3%;
  margin-bottom: 3%;
}
