.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* height: 100%; */
  /* padding-bottom: 100px; */
}

.banner-box {
  /* border: 1px solid #ffffff; */
  width: 100%;
  /* border: 1px solid #ffffff; */
  /* height: 20vh; */
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10%; */
  /* margin-bottom: 15%; */
  margin: 3%;
  /* color: gray; */
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  /* background: linear-gradient(180deg, #FF9E80 0%, #FFF6E3 100%); */
}

.main-content-container {
  width: 100%;
  padding: 25px 0px;
  margin-top: 3%;
  border-top-left-radius: 50px;
  background-color: rgba(219, 219, 219, 0.1);
}

.username-text-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-username {
  color: pink;
  margin-right: 4px;
  font-size: 22px;
  width: 5ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.05em solid rgb(255, 255, 255);
  animation: typing 0.8s steps(5), cursor 1s steps(1) forwards;
  padding-right: 3px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 5ch;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
  100% {
    border-right: none;
  }
}
.slider {
  width: 100%;

  /* border: 1px solid #ffffff; */
}

.text-wrap {
  text-align: center;
  display: grid;
  place-items: center;
}

.text-wrap p {
  font-size: small;
  margin-top: 3%;
}

/* .slick-track {
  height: 10vh !important;
} */

.slick-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slick-slide.slick-active {
  opacity: 1;
}

/* .slick-slide.slick-current {
  opacity: 0.5;
} */
