.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 80vw;
  height: 20vh;
  margin: 2vh;
  border-radius: 20px;
}