.container {
  /* text-align: center; */
  padding-top: 5%;
}

.guide-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.drink-guide {
  margin-right: 3%;
  margin-left: 3%;
}

.book-img {
  width: 15%;
}

.guide-select-btn-wrap {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* width: 80%; */
  align-items: center;
  /* margin: 0 auto; */
  margin-top: 3%;
  margin-bottom: 10%;
}


.guide-select-btn {
  padding: 1% 3%;
  /* background-color: rgb(255, 255, 255); */
  /* border: solid 1px white; */
  /* border-radius: 20px; */
  font-weight: 600;
  font-size: 0.9rem;
  /* box-shadow: 1px 1px 1px 1px rgb(150, 150, 150); */
}

.guide-select-btn-active {
  padding: 1% 3%;
  border: none;
  /* border-radius: 20px; */
  /* background: linear-gradient(180deg, #b9d8f7 0%, #feeb8b 100%); */
  /* outline: none; */
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  border-bottom: solid 2px white;
}

.component-wrap {
  margin-top: 10%;
}
