@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;1,300;1,500&family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=Hahmlet:wght@300;400;500;600&family=Nanum+Pen+Script&family=Poor+Story&display=swap");

/* @font-face {
  font-family: "gmarketMedium";
  src: url("assets/fonts/GmarketSansTTFMedium.ttf");
} */

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hahmlet-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.content-wrapper {
  /* padding: 2% 8%; */
  /*하단바가 56px*/
  padding-top: 56px;
  padding-bottom: 100px;
  /* font-family: 'Gowun Batang', serif; */
  /* font-family: 'Gowun Dodum', sans-serif; */
  font-family: "Hahmlet", serif;
  /* font-family: "LINESeedKR-Bd", serif; */
  /* font-family: 'Nanum Pen Script', cursive; */
  /* font-family: 'Poor Story', cursive; */
  /* font-family: "gmarketMedium"; */
  /* font-weight: 700 */
}
.no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  font-size: 32px;
  color: white;
}

.no-mobile h1 {
  color: white;
  margin-right: 10px;
}

.no-mobile i {
  color: darkslateblue;
}

@media screen and (max-width: 645px) {
  .no-mobile {
    display: none;
  }
}

@media screen and (min-width: 645px) {
  .content-wrapper {
    display: none;
  }
}
