.user-profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
  margin-top: 0%;
}

.user-profile {
  display: flex;
  width: 70%;
  align-items: center;
}

.user-img {
  border-radius: 50%;
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

.feed-img {
  width: 100vw;
}

.feed-content-container {
  padding: 3%;
  margin: 0% 2%;
}

.feed-detail-content-btn {
  background-color: inherit;
  color: rgb(160, 160, 160);
  border: none;
  margin-top: 2%;
}

.feed-content-container {
  display: flex;
  justify-content: space-between;
}

.feed-alcohol-info-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.feed-alcohol-tag {
  width: 80px;
  text-align: center;
  padding: 1% 3%;
  background-color: blueviolet;
  border-radius: 30px;
  font-size: 0.9rem;
  margin-right: 20px;
  margin-left: 20px;
}

.feed-alcohol-type-tag {
  width: 80px;
  text-align: center;
  padding: 1% 3%;
  border-radius: 30px;
  font-size: 0.9rem;
  background-color: rgb(43, 189, 226);
  margin-right: 20px;
}

.feed-alcohol-info-box {
  display: flex;
  flex-wrap: wrap;
}

.comment-input-container {
  display: flex;
  justify-content: center;
}

.comment-input {
  width: 80%;
  height: 20px;
  background-color: inherit;
  border: none;
  padding: 1%;
  border-bottom: 0.1px solid white;
  color: white;
}

.comment-input:focus {
  width: 80%;
  height: 20px;
  padding: 1%;
  outline: none;
  caret-color: white;
}
